@import '~rsuite/dist/rsuite.min.css';

.App {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(315deg, #ff7750, #2d6daa);
    filter: brightness(1.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
